header {
  height: 100px;
  background-color: lightgray;
}

header nav {
  display: flex;
  flex-direction: row;
}
header nav div {
  margin-right: 30px;
}

.page-body{
  padding: 30px;
}

table.my-tours{
  border: 1px solid gray;
}
table.my-tours tr td{
  border-bottom: 1px solid gray;
}